doctype html
html(lang="en", ng-app="myPage")
	head
		title Statistics
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
		script(src="js/zingchart/client/zingchart.min.js")
		script(src="js/zingchart-angularjs/src/zingchart-angularjs.js")
	body
		div.container
			header
				nav.navbar.navbar-inverse.navbar-fixed-top
					div.container
						div.navbar-header
								a.navbar-brand(href="#") Statistics
							div#navbar.collapse.navbar-collapse
								ul.nav.navbar-nav
									li(ng-class="{ 'active' : $root.section === 'pieStatisticsController' }")
										a(href="/offers") Offers
		div.container
			div(ng-view)

		script(src="https://code.jquery.com/jquery-2.2.4.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-route.js")
		script(src="js/angular-logic-page/app.js")
		script(src="js/angular-logic-page/controllers.js")
		script(src="js/angular-logic-page/routing.js")