<section>
<div class="canvas-holder">
	<div class="chart">
		<h1>Programing Languages</h1>
		<h5>Skills with more demmand in 2016</h5>
  		<canvas id="chart-area" />
	</div>
	<div class="chart">
		<h1>Data Base</h1>
		<h5>Skills with more demmand in 2016</h5>
  		<canvas id="chart-area2" />
	</div>
</div>
  
  <div class="center-table">
  	 <div class="datagrid">
  	 	<table>
	    <thead>
	      <tr>
	        <th>Language</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rank in rankingAll">
	      <tr>
	        <td>{{rank.name}}</td>
	        <td>{{rank.num}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	  <div class="datagrid">
	  <table>
	    <thead>
	      <tr>
	        <th>Data Base</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rankDb in rankingAllDb">
	      <tr>
	        <td>{{rankDb.name}}</td>
	        <td>{{rankDb.num}}</td>
	      </tr>
	    </tbody>
	  </table>
  	 </div>
  </div>
  <div class="canvas-holder">
		<div class="chart">
			<h1>Framesworks</h1>
			<h5>Skills with more demmand in 2016</h5>
	  		<canvas id="chart-area3" />
		</div>
		<div class="chart">
			<h1>Others Skills</h1>
			<h5>Skills with more demmand in 2016</h5>
	  		<canvas id="chart-area4" />
		</div>
  </div>
  <div class="center-table">
  	 <div class="datagrid">
  	 	<table>
	    <thead>
	      <tr>
	        <th>FrameWorks</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rankFr in rankingFrameworks">
	      <tr>
	        <td>{{rankFr.name}}</td>
	        <td>{{rankFr.num}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	  <div class="datagrid">
	  <table>
	    <thead>
	      <tr>
	        <th>Other Skills</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rankOther in rankingOtherSkills">
	      <tr>
	        <td>{{rankOther.name}}</td>
	        <td>{{rankOther.num}}</td>
	      </tr>
	    </tbody>
	  </table>
  	 </div>
  </div>
</section>