<section>
<div class="container-statistics">
	<zingchart zc-values="valuesOfFrontEnd" zc-json="dataConfig" zc-render="myRender"></zingchart>
	<zingchart zc-values="valuesOfDataBase" zc-json="dataConfigDb" zc-render="myRenderDb" ></zingchart>
</div>
  
  <div class="center-table">
  	 <div class="datagrid">
  	 	<table>
	    <thead>
	      <tr>
	        <th>Language</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rank in rankingAll">
	      <tr>
	        <td>{{rank.name}}</td>
	        <td>{{rank.num}}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	  <div class="datagrid">
	  <table>
	    <thead>
	      <tr>
	        <th>Back End</th>
	        <th>Nº Offers</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="rankDb in rankingAllDb">
	      <tr>
	        <td>{{rankDb.name}}</td>
	        <td>{{rankDb.num}}</td>
	      </tr>
	    </tbody>
	  </table>
  	 </div>
  </div>
</section>